[2021-02-04 10:59] soumita1234 opened #1 "Add a creative border outsite of the image."
You can add or modify the child image designing to make the site more attractive.

[2021-02-04 11:04] soumita1234 opened #2 "Creat a donate now button"
Hide the #razorpay button and instead of that create a #donate now button, and by clicking the button paymane getway should be opened.

[2021-02-04 16:37] 96RadhikaJadhav commented on #1
@soumita1234  Can I work on it?

[2021-02-04 16:43] soumita1234 commented on #1
@96RadhikaJadhav  yeah sure !!

[2021-02-04 17:04] #1 closed

[2021-02-04 17:04] soumita1234 commented on #1
NA

[2021-02-04 17:05] soumita1234 commented on #2
NA

[2021-02-04 17:05] #2 closed

[2021-03-11 17:16] soumita1234 opened #3 "Add Sticky Navigation bar"
While scrolling the page make the navigation bar accessable (sticky navbar).

[2021-03-11 17:18] soumita1234 opened #4 "Style the image"
Style the image to make the site more attactive

[2021-03-11 17:19] soumita1234 opened #5 "Make a "donate here button" to hide the direct razorpay button"
Make a "Donate" Button to hide direct Razorpay donate button.

[2021-05-29 19:50] soumita1234 opened #6 "Add a Readme.md"
Make a good readme file describing the project and add images (screenshots from the site)

[2021-05-31 18:46] soumita1234 opened #7 "Add a "Contact Us" form with a Name area text area and Email ID."
Add a "Contact Us" form in 'Contact' section with a Name, text area and Email ID and make sure that it sends mail at a given mail ID(add your mail id for testing purpose).

[2021-06-10 08:36] sanketcharanpahadi commented on #3
can I work on this issue @soumita1234 ?

[2021-06-10 11:38] soumita1234 commented on #3
Yes, you are welcome to work on this issue @sanketcharanpahadi. Are you a participant of LGM-Soc'21 ? as this project is under the contest.

[2021-06-10 11:48] Baba-Yaga-1 commented on #3
I am a participant of LGMSOC'21.
Can I work on this issue ?

[2021-06-10 13:03] soumita1234 commented on #3
Yes You can work on this issue. but @sanketcharanpahadi commented first. You can check out another issues.

[2021-06-10 13:54] sanketcharanpahadi commented on #3
@soumita1234 yes, I am too a part of lgm-soc this year.

[2021-06-10 14:03] sanketcharanpahadi commented on #3
Now , can I work on this issue or should I work on other issues @soumita1234 ?

[2021-06-10 14:06] soumita1234 commented on #3
Okk then. You can work on this issue.But before make PR please add a snapshot/Screenrecord of changes in UI

[2021-06-10 14:12] soumita1234 commented on #3
You can work on this issue as you commented first.

[2021-06-10 14:15] Zhong-Shan-Hui commented on #5
Yes I can work on this issue. Please assign it to me.

[2021-06-10 14:17] soumita1234 commented on #5
yes, you can work on this issue. Are you a participant of LGM-SoC'21 ?

[2021-06-10 14:18] Zhong-Shan-Hui commented on #5
Yes I'm a participant of LGM-SoC'21

[2021-06-10 14:20] soumita1234 commented on #5
@Zhong-Shan-Hui I've assigned you and before makeing PR share a Snapshot of changes in UI.

[2021-06-10 14:21] Zhong-Shan-Hui commented on #5
Yeah will definitely do that

[2021-06-10 14:26] Baba-Yaga-1 commented on #6
Can I work on this issue  ? Can you assign it to me ?

[2021-06-10 14:35] soumita1234 commented on #6
Add Screenshots from ta website to make the Readme more descriptive.
Please add a snapshot in comment before making PR.

[2021-06-10 14:35] Baba-Yaga-1 commented on #6
Okay , will surely do that.
Do I also need to add the contribution guidelines on this file ?

[2021-06-10 14:38] soumita1234 commented on #6
Yeah add contribution guidelines too.

[2021-06-10 15:04] Zhong-Shan-Hui commented on #5
I'll need the razorpay data-key for this. Would you kindly send me your razorpay data-key?

[2021-06-11 04:06] paro-810 commented on #7
Can i work on this issue as a participant of LGM-SoC ? @soumita1234

[2021-06-11 05:37] Zhong-Shan-Hui commented on #5
### You can see the donate here button
![Screenshot 2021-06-11 105941](https://user-images.githubusercontent.com/71785870/121635882-a664c000-caa4-11eb-95bb-56eef85b2d9d.png)

### This is what opens up when you click on the donate button
![Screenshot 2021-06-11 110017](https://user-images.githubusercontent.com/71785870/121635909-b11f5500-caa4-11eb-9d5a-4a4f57249a2e.png)

### This will be the respon

[2021-06-11 08:07] soumita1234 commented on #7
Yes you can work one this issue.. Make sure the background should complement the site

[2021-06-11 08:09] soumita1234 commented on #5
ok you can Make a PR.

[2021-06-11 08:35] soumita1234 opened #8 "Redesign the "Mission" Section"
You can make the "Mission" section more creative as per your aspect. Then share the sanspshot of changes in comment. I'll review and merge.

[2021-06-11 08:37] soumita1234 opened #9 "Add MIT license"
Add MIT license to the project then make PR

[2021-06-11 08:38] Baba-Yaga-1 commented on #6
The Screenshots of ReadMe.md file--
![Readme-1](https://user-images.githubusercontent.com/56999749/121657846-67dbff00-cabe-11eb-9de8-2f8a6cf20fec.JPG)
![Readme-2](https://user-images.githubusercontent.com/56999749/121657894-76c2b180-cabe-11eb-853e-63231d7deee2.JPG)
![Readme-3](https://user-images.githubusercontent.com/56999749/121657916-7b876580-cabe-11eb-9995-6e0e2c02ec6d.JPG)
![Readme-4](https:/

[2021-06-11 09:07] Baba-Yaga-1 commented on #8
I would like to work on this issue. Can you assign it to me ?

[2021-06-11 10:07] sanketcharanpahadi commented on #9
can I work on this issue @soumita1234 ?

[2021-06-11 10:19] soumita1234 commented on #6
@LizaHaddock Use logos instead of image in tech stack part. Add a image of mine in Project admin section. And make the snapshots smaller in size. Just make these changes.
see this  as referance  [https://github.com/sruti2024/PRO_Act]
Although you did a good job.

[2021-06-11 10:35] soumita1234 commented on #9
Yes you can work on this issue.

[2021-06-11 10:38] soumita1234 commented on #8
Yeah sure.

[2021-06-11 17:16] Zhong-Shan-Hui opened #12 "Add a scroll to top button"
Adding a scroll to top button makes it's easier to scroll to the top by just hitting a button.

[2021-06-11 20:13] soumita1234 commented on #12
Good issue. Work on this

[2021-06-11 20:57] RohanKeshri87 commented on #4
cn i work on this issue

[2021-06-11 21:04] RohanKeshri87 opened #13 "Download a payment receipt"
Want to add a button where he/she can download  the payment receipt.

[2021-06-12 01:47] RiyaGupta89 commented on #4
I can style the image sir. Please assign me this issue under LGMSOC'21.

[2021-06-12 01:55] RiyaGupta89 commented on #13
What is the need of downloading payment receipt, you can just show them in records section or somewhere else, something like "Thankyou!! You have successfully donated Rs. xyz ." Somewhat like this.

[2021-06-12 01:58] RiyaGupta89 opened #14 "Footer Resize"
The height of footer is quite a lot. I can reduce the height of the footer. Please assign me this issue.

[2021-06-12 02:01] RiyaGupta89 opened #15 "Make readme.md file more interactive"
I can make readme.md file look more nicer and colorful which will also denote the right message so that a user can come and get an idea of the project by looking at the README file. Please issue me this issue under LGMSOC'21.

[2021-06-12 02:02] RiyaGupta89 commented on #14
I will also add the hover effect in the "donate here" button.

[2021-06-12 03:39] SanjeevKumar22 opened #16 "neon button style"
to donate button and make donate page separate

[2021-06-12 05:35] Zhong-Shan-Hui commented on #12
You can see the scroll to top button.

![Screenshot 2021-06-12 110342](https://user-images.githubusercontent.com/71785870/121766192-fc516a80-cb6d-11eb-8158-89203989362a.png)

[2021-06-12 06:27] jigar-sable opened #18 "Default cursor on button"
## Bug
**Pointer Cursor should be there for Donate Here Button.**

I would like to work on this issue.
Please assign me this issue under LGM-SOC'21

[2021-06-12 06:33] shreya-gb commented on #4
Hello, I can style the image. Please could you assign me to this under LGMSOC'21?

[2021-06-12 07:02] soumita1234 commented on #4
Yes you can work on this issue.But as I have seen you created another issue. I would like to assign this issue to @shreya-gb.

[2021-06-12 07:07] soumita1234 commented on #4
Yes you can work on this issue.

[2021-06-12 07:12] soumita1234 commented on #15
This issue is already assigned. Although you can make one. If I like that I'll merge.
Share SS in comment before making PR.

[2021-06-12 07:12] soumita1234 commented on #14
Yes goos issue. Work on it. But dont work on the button. This part is already assigned.

[2021-06-12 07:13] soumita1234 commented on #13
Yes you can work on this Issue.. Share A SS before makinh PR.

[2021-06-12 07:14] soumita1234 commented on #16
Yes sure. Good issue to work on
Comment SS before making PR.

[2021-06-12 07:14] RohanKeshri87 commented on #13
okay i will

[2021-06-12 07:15] soumita1234 commented on #18
Good issue to work on.
Share a SS before making PR.

[2021-06-12 07:20] soumita1234 commented on #12
You can creat a PR @Zhong-Shan-Hui.

[2021-06-12 07:25] soumita1234 commented on #9
@sanketcharanpahadi make changes to gh-pages too and make PR.

[2021-06-12 07:27] ShwetKhatri2001 opened #19 "Making Cards for missions"
We can show our missions in separate cards with some hover effects , transitions and animations

@soumita1234 I would like to work on this issue  during LGM-SOC contribution period.

[2021-06-12 07:28] #19 closed

[2021-06-12 07:33] sanketcharanpahadi commented on #9
@soumita1234 okay I will also do this.

[2021-06-12 07:52] shreya-gb commented on #4
Thank you sir!

[2021-06-12 07:58] shreejashetty opened #20 ""Activities" on navigation bar."
For donation, we can add selection of amount to be donated. (ex: rs 50,100,500 )
@soumita1234  I would like to work on this issue during LGM-SOC contribution period.

[2021-06-12 08:30] Baba-Yaga-1 commented on #6
Okay, I will add that.

[2021-06-12 08:32] SanjeevKumar22 commented on #16
![Screenshot (305)](https://user-images.githubusercontent.com/74849833/121770391-a89f4b00-cb86-11eb-9fec-2be0dceea2fd.png)
changes color on border and background color on button changing
and added pointer on button

can i make PR

[2021-06-12 08:33] SanjeevKumar22 commented on #16
on click donate it directs another page a short donate description also???
Please check out the current code and website. It has changed a bit. Change on the current code basis.
and you can use a good donation intro to the page. You first change the codes and host it then share me the link here.

[2021-06-12 08:36] soumita1234 commented on #20
Yes sure. Good issue anyway.

[2021-06-12 08:47] sanketcharanpahadi commented on #9
@soumita1234  I want to ask something, what are the changes should I make in gh-pages?

[2021-06-12 09:00] soumita1234 commented on #18
@jigar-sable share a snapshot of changed UI here.

[2021-06-12 09:04] jigar-sable commented on #18
I've just added few lines to style of button.
You may checkout [here](https://jigar-sable.github.io/HelpingHand/)

[2021-06-12 09:10] #18 closed

[2021-06-12 09:12] soumita1234 commented on #18
Add the changed portion on gh-pages and make PR also.

[2021-06-12 09:32] ekagrashukla opened #22 "Adding Font Awesome Icons"
Would like to add cool font awesome icons on navbar and donation button, this will make the website look more minimal and professional, somewhat like this.

![image](https://user-images.githubusercontent.com/67453083/121771770-164f7500-cb8f-11eb-861c-8a0f7c882cab.png)

If you find this useful, **please assign it to me**, as a participant of LGM SOC.

[2021-06-12 09:40] soumita1234 commented on #22
Good thoughts.
Make PR in Both Main And gh-pages branch.

[2021-06-12 10:12] soumita1234 commented on #22
@ekagrashukla Make a PR in gh-pages also.

[2021-06-12 10:17] ekagrashukla commented on #22
Sure @soumita1234

[2021-06-12 10:30] soumita1234 commented on #22
Hey @ekagrashukla check the website. There is two donate now button showing. Fix it. You didn't delete the previous button code.

[2021-06-12 10:33] #22 closed

[2021-06-12 10:37] #9 closed

[2021-06-12 10:42] #5 closed

[2021-06-12 10:44] Baba-Yaga-1 commented on #6
I made the changes.
![sc-1](https://user-images.githubusercontent.com/56999749/121773367-25d3bb80-cb99-11eb-929b-59cfbfbb2275.JPG)
![sc](https://user-images.githubusercontent.com/56999749/121773371-29ffd900-cb99-11eb-966b-b8e20525b3b9.JPG)

[2021-06-12 11:11] jigar-sable commented on #15
Hi @soumita1234 I've created new interactive readme with all details mentioned, added badges and contributors.
To view it [click here](https://github.com/jigar-sable/HelpingHand)
I think no need to add screenshots as site will be updated regularly and it will mess up readme too.

[2021-06-12 12:28] soumita1234 commented on #6
You can Make a PR.

[2021-06-12 12:30] soumita1234 commented on #15
You can Make a PR.

[2021-06-12 12:35] jigar-sable commented on #15
Alright..

[2021-06-12 13:04] #6 closed

[2021-06-12 14:22] codeaholic-shub opened #28 "Updating README.md"
Hello @soumita1234 ,
I want to add "Lets Grow More " PNG image in REAMDE.md to look more captivating !
![121303829-28c07900-c919-11eb-8cf2-afd39b5c54ab png (781×261) - Google Chrome 12-06-2021 11_37_53](https://user-images.githubusercontent.com/65807708/121779107-a43f5600-cbb7-11eb-92ed-879ba175a447.png)

[2021-06-12 14:46] soumita1234 commented on #28
I don't want to add this img on readme. You can add a snapshot of homepage of the website(HelpingHand). As the website is updated constantly you had to add the img a day before contest ending. I am assigning you for the issue.

[2021-06-12 14:59] LizaHaddock opened #29 "Update README.md file by correcting the username"

[2021-06-12 15:47] #29 closed

[2021-06-12 16:04] mdinesh124 commented on #7
@soumita1234 Please assign me this issue under LGMSOC.

[2021-06-12 16:08] mdinesh124 commented on #20
@soumita1234  Please assign me this issue. I would love to contribute in it.

[2021-06-12 17:02] #28 closed

[2021-06-12 19:46] nisha331 opened #35 "Add CODE_OF_CONDUCT file"
As there is no code of conduct file I would like to add it.
I as a participant of LGMSOC would like to work on it kindly assign it to me

[2021-06-12 19:51] jigar-sable commented on #3
@soumita1234

- I'd had made sticky nav bar which is responsive too with togglers.
- You may have a look at it [here](https://jigar-sable.github.io/HelpingHand/)

This is issue is pending from few days assign me this issue..
Let me know if nav bar is well then I'll create PR.

[2021-06-12 19:54] nisha331 opened #36 "Testimonials can be added."
To build the trust of the donators few testimonials can be added.

[2021-06-12 20:13] Atif0604 opened #37 "Make Changes to Navbar"
Add rounded hover effect to link and center align nav links in mobile view

[2021-06-12 21:07] soumita1234 commented on #35
Yes sure. You can work on it

[2021-06-12 21:12] #16 closed

[2021-06-12 21:18] soumita1234 commented on #3
Change the color of navbar similar like background.

[2021-06-12 21:40] jigar-sable commented on #3
@soumita1234  Checkout this [Helping Hand](https://jigar-sable.github.io/HelpingHand/).

[2021-06-13 08:01] soumita1234 commented on #37
@Atif0604 share the changes.please send link here

[2021-06-13 08:09] Atif0604 commented on #37
So do I need to share screenshots ?or publish the page and give the link? @soumita1234

[2021-06-13 08:16] Atif0604 commented on #37
https://atif0604.github.io/HelpingHand/
here is the link  @soumita1234

[2021-06-13 09:58] #37 closed

[2021-06-13 10:00] soumita1234 commented on #3
@jigar-sable now looking good. Change the HealpingHand color white from yellow and create PR.

[2021-06-13 10:03] SanjeevKumar22 opened #39 "New donate page"
donate conatins description and a button

[2021-06-13 10:39] rishabhrathore055 opened #40 "Changing Color of home page"
color contrast of home page is dull i want to change it
@soumita1234  pls assign me this issue. Under LGM-Soc'21

[2021-06-13 10:42] ekagrashukla opened #41 "Home Screen Image Hover Effect"
Would like to add this cool hover effect on the home screen stock image, that will colorize the image on mouseover.

![helping](https://user-images.githubusercontent.com/67453083/121804012-c392bd80-cc61-11eb-95bd-8aa86a8d9390.gif)

If you find this relevant, I shall create a PR for the same
Thanks

[2021-06-13 11:11] RiyaGupta89 commented on #15
Hey @soumita1234, should I make readme.md  file and show you the SS or it has been already created?

[2021-06-13 11:12] RiyaGupta89 commented on #14
Sure, okay. Thankyou!

[2021-06-13 11:24] jigar-sable commented on #3
Alright..

[2021-06-13 11:25] RiyaGupta89 commented on #14
Do you want me to add something else or some more text to footer or should I just reduce the size of footer?

[2021-06-13 11:37] 2024-SANDHYA opened #42 "Enhacning Look & adding some functionalities."
Changing the look of the website & adding one more page to the site.

[2021-06-13 11:40] soumita1234 commented on #42
You can add a more pages but keep similar the page. You can change design of the  image added in the home page using CSS. No need to change the website look.

[2021-06-13 11:41] soumita1234 commented on #41
Yes you can do it.

[2021-06-13 11:42] 2024-SANDHYA commented on #42
Ya I mean I wanna change the alignment & within the same page I'll add one more tab.

[2021-06-13 11:44] soumita1234 commented on #39
I think the donate now button is working and looking good. If your idea is good plz share the website link here. If it is up to mark. then You can create a PR.

[2021-06-13 11:45] soumita1234 commented on #40
Thanks for your opinion. But I want the website like this.

[2021-06-13 11:46] devanshi-code commented on #7
@soumita1234 can I work on this issue?

[2021-06-13 11:47] soumita1234 commented on #14
You can do changes as per your thoughts, then send me the website link here fitst.

[2021-06-13 11:47] devanshi-code commented on #8
@soumita1234 can I work on this issue

[2021-06-13 11:48] soumita1234 commented on #42
okay do it,And send website link here first.

[2021-06-13 11:50] RiyaGupta89 commented on #14
Is it okay if I share the ss of the footer here?

[2021-06-13 11:52] 2024-SANDHYA commented on #42
Sure Ma'am . Please assign me the issue & label as well. Thank You

[2021-06-13 11:58] soumita1234 commented on #8
Yes you can. After changing share website link here before making PR.

[2021-06-13 11:58] soumita1234 commented on #14
Yeas sure.

[2021-06-13 11:59] RiyaGupta89 commented on #14
![footer](https://user-images.githubusercontent.com/72425181/121806221-b0d1b600-cc6c-11eb-92c6-ffd9cd623e22.png)
I've reduced the height of footer, changed margin and stuff little bit and added some media queries to footer. Please check if this seems okay?

[2021-06-13 12:05] #3 closed

[2021-06-13 12:08] soumita1234 commented on #14
@RiyaGupta89 Yes its ok. You can make PR.

[2021-06-13 12:11] RiyaGupta89 commented on #14
I requested for PR, please check if there are any conflicts?
Yes there is conflicts, unable to merge. Add code changes directly to the css folder and commit changes for purpose and make PR. Conflicts mostly caused by command PRs. Whole file is seems conflicted. Make PR directly.

[2021-06-13 12:13] #12 closed

[2021-06-13 12:16] #41 closed

[2021-06-13 12:24] RiyaGupta89 commented on #14
I resolved the conflicts, now can you review my code?

[2021-06-13 12:37] soumita1234 commented on #14
create PR

[2021-06-13 12:38] RiyaGupta89 commented on #14
I did, please check again.

[2021-06-13 12:49] #14 closed

[2021-06-13 13:02] utkarshgoel10 opened #46 "Adding JQuery to the Page and adding smooth scroll"
We can add JQuery to the Mission and Contact page, which may make it look a bit better and more engaging to the user. Moreover, we can add the smooth scroll feature to it so that the transition looks much better.

[2021-06-13 13:02] utkarshgoel10 commented on #46
@soumita1234 Please assign me this issue.
sure.

[2021-06-13 13:09] Khushi-agarwal opened #47 "Adding flip card animation"
![image](https://user-images.githubusercontent.com/76625662/121808551-a1f00100-cc76-11eb-98db-53b5228dc058.png)

Here I would like to add the flip card so that on hovering over it it would then display the details.

[2021-06-13 13:27] Sukhseerat-Kaur opened #48 "Custom scrollbar"
I would like to change the default scroll bar to a customized scroll bar which is according to the style and colours of the website.
![Screenshot (117)_LI](https://user-images.githubusercontent.com/54837213/121809117-30658200-cc79-11eb-8bd9-5c57c85dabe4.jpg)

[2021-06-13 14:20] Jagannath8 opened #49 "About Us page"

[2021-06-13 14:20] Jagannath8 commented on #49
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 14:20] Jagannath8 commented on #49
Can I work on this issue? I'm a participant of LGM Soc21.

[2021-06-13 15:53] soumita1234 commented on #49
After making changes host the page from your github then send the link here first.

[2021-06-13 15:55] #35 closed

[2021-06-13 15:55] Jagannath8 commented on #49
Sure!

[2021-06-13 16:27] Shaishav0507 opened #52 "Add copyright year using Js"
Hey @soumita1234
I would like to change the copyright right, as it needs to be changed very time.
I will add Js, so that it automatically updates itself.
Please assign it to me.
Thanks.

[2021-06-13 16:38] #46 closed

[2021-06-13 19:28] anamikaSri opened #53 "Cool hovering effect to the donate button."

[2021-06-13 19:31] jayant766 commented on #4
Assign me plz.
LGM_SOC

[2021-06-13 19:52] soumita1234 commented on #53
I think current button style in okay.

[2021-06-13 19:53] #53 closed

[2021-06-13 20:30] ayushsoni1010 opened #54 "Add a logo design for HelpingHand"
I will make the logo using Adobe XD and Adobe Illustrator :)
I will add the logo for HelpingHand in the navbar

Kindly assign me this issue under LGMSOC'21   :)

[2021-06-13 20:58] gourav02 opened #55 "navbar modification"

[2021-06-14 04:43] utkarshgoel10 opened #57 "Decreasing font-size for mobile devices | Text hiding behind navbar in small screens"
The text in the header is very large. Also, the text is hiding behind the navbar.
I will adjust the font size of the page to make it mobile-friendly and moreover, adjust the heading so that it is visible clearly.

[2021-06-14 04:43] utkarshgoel10 commented on #57
Please assign this issue to me @soumita1234

[2021-06-14 05:14] Sumit11081996 commented on #55
@soumita1234 kindly assign me this issue

[2021-06-14 08:10] soumita1234 commented on #54
Sure

[2021-06-14 08:11] soumita1234 commented on #55
I don't want any changes on navbar

[2021-06-14 08:13] soumita1234 commented on #57
Don't change the

sure, make changes for mobile view only

[2021-06-14 08:17] #47 closed

[2021-06-14 08:18] Khushi-agarwal opened #59 "Footer enhancement"
I want to enhance the footer by adding hover effect and also aligning everything.

[2021-06-14 08:20] soumita1234 commented on #59
I dont want any changes in footer. its already modified.

[2021-06-14 08:22] #59 closed

[2021-06-14 08:22] soumita1234 commented on #4
Assigned you

[2021-06-14 08:24] ayushsoni1010 commented on #54
@soumita1234
I will show you once the logo
Then I will implement it :)

[2021-06-14 08:24] #15 closed

[2021-06-14 08:44] ayushsoni1010 opened #60 "Donate here (button) needs to be implement more"
Heyy @soumita1234 👋
I want to add the Neumorphism effect in the button. This should be the gorgeous UI button
This functionality will enhance more towards the user one who loves buttons :D
If any reference of idea needed, then let me know :)
Alright, If you got it :D

Kindly assign me this issue under LGMSOC'21

Thanks :)

[2021-06-14 08:55] asdsyd opened #61 "Payment email apparently can take in very long emails"
When donating i discovered that
email length is not specified and can enter email say like 50 to 75 character long.
eg: hkjahkfjhaheuhalkfjlajdfjaklhfjkhajhflkajflkjhajflahldhalh@gmail.com
which most of the donors won't be having this long email.

[2021-06-14 09:11] soumita1234 commented on #60
First implement the idea and share me the ss or website link. Currently  I dont want any changes to buttons but if your idea is markable. I'll tell you to create PR.

[2021-06-14 09:13] soumita1234 commented on #61
I think this is not an issue. Let it be as it is.

[2021-06-14 09:16] soumita1234 commented on #54
Yea sure. This would be good !!

[2021-06-14 09:38] RiyaGupta89 opened #62 "Styling"
![2](https://user-images.githubusercontent.com/72425181/121871904-4713e380-cd22-11eb-8cc7-7f76ebb7c413.png)
This whole section looks so plain, should I add some cards or styles to this section to make it look good?

[2021-06-14 09:39] RiyaGupta89 opened #63 "Donate here Button"
I want to add repel effect to donate here button when the user clicks on that button.

[2021-06-14 09:44] RiyaGupta89 opened #64 "Mobile View"
![phone-size](https://user-images.githubusercontent.com/72425181/121872370-cef9ed80-cd22-11eb-96d4-e0249a791837.png)

In the mobile size screen i think the image should be above the text, it may add a bit better user interactivity with the website. Putting the text first won't seem that nice. Please have a look and if you think it is a valid issue then please assign me the issue under LGMSOC'21.

[2021-06-14 09:45] RiyaGupta89 opened #65 "Contact Us Page"
I can create a good interactive contact us page for the website.

[2021-06-14 10:01] ayushsoni1010 commented on #60
Sure :)
I will share it by tonight

[2021-06-14 10:06] soumita1234 commented on #62
This section in assigned already to someone.

[2021-06-14 10:06] soumita1234 commented on #63
This section is assigned too.

[2021-06-14 10:08] soumita1234 commented on #64
I think this is okay.

[2021-06-14 10:08] soumita1234 commented on #65
You can do this.

[2021-06-14 10:09] #62 closed

[2021-06-14 10:09] #63 closed

[2021-06-14 10:09] #64 closed

[2021-06-14 10:35] priyanshi5 commented on #65
I would like to work on this issue under LGMSOC21.

[2021-06-14 10:36] ayushsoni1010 commented on #60
Hey  @soumita1234

Just take a look once on these designs :D
These two are of Neumorphism effect UI button design

![image](https://user-images.githubusercontent.com/76895975/121878743-af19f800-cd29-11eb-810a-0ef49b1fb73e.png)

![image](https://user-images.githubusercontent.com/76895975/121879144-264f8c00-cd2a-11eb-8c97-d88379c3b731.png)

[2021-06-14 10:36] priyanshi5 commented on #8
I would like to work on this issue under LGMSOC21, please allow me.

[2021-06-14 10:52] #8 closed

[2021-06-14 10:54] ayushsoni1010 commented on #60
Can I implement this UI button this would look perfect :)

[2021-06-14 10:59] ayushsoni1010 commented on #54
This is the logo :D

PNG File :
![image](https://user-images.githubusercontent.com/76895975/121882081-b2af7e00-cd2d-11eb-8f12-b3ec0deabc02.png)

[2021-06-14 11:08] soumita1234 commented on #54
Its really awesome.

[2021-06-14 11:13] soumita1234 commented on #60
At first change it and host the site and share here

[2021-06-14 11:15] ayushsoni1010 commented on #60
okay
I will share the ss here

If It seems good will reopen the issue.
Thanks a lot✨

[2021-06-14 11:16] ayushsoni1010 commented on #54
Thanks :)

Can I implement it now

[2021-06-14 12:11] ayushsoni1010 commented on #60
I have added this one Neomorphism effect.
![image](https://user-images.githubusercontent.com/76895975/121888639-db3b7600-cd35-11eb-852a-9c8f96e0bc45.png)

By adding this button gives a 3D impact and while hovering also.
If we hover then the upper part of the square will give a little blackish and the lower part as well gives a little whitish
And if  we hover then the button bumps up

The default b

[2021-06-14 12:22] ayushsoni1010 commented on #60
![image](https://user-images.githubusercontent.com/76895975/121891597-489cd600-cd39-11eb-899f-c4ee98804424.png)

[2021-06-14 12:29] soumita1234 commented on #60
@ayushsoni1010 You can make PR. I like it

[2021-06-14 12:36] ayushsoni1010 commented on #65
Can you share the idea that what you're implementing?

[2021-06-14 12:49] jugeshraghav opened #67 "signin and signup options and their respective pages."

[2021-06-14 12:51] jugeshraghav opened #68 "we can add a FAQ section where users can find relevant answers to their questions."
For a website which includes payment people become more careful. People will definitely like to know the answers to various questions.

[2021-06-14 13:05] soumita1234 commented on #67
No need to this option. this is a donation website. should open to all.

[2021-06-14 13:05] #67 closed

[2021-06-14 13:06] soumita1234 commented on #68
You can add one

[2021-06-14 13:08] jugeshraghav commented on #67
Yes , you are right.

On Mon, Jun 14, 2021, 18:35 Soumita Biswas ***@***.***> wrote:

[2021-06-14 13:10] soumita1234 commented on #20
@mdinesh124 any update?

[2021-06-14 15:22] priyanshi5 commented on #65
I will create an interactive page so that user can post a query.

[2021-06-14 15:25] priyanshi5 commented on #42
I would also like to work on enhancing the website in a better way.

[2021-06-14 17:17] #60 closed

[2021-06-14 19:25] #54 closed

[2021-06-14 19:41] jugeshraghav commented on #68
![Screenshot (92)](https://user-images.githubusercontent.com/74092377/121949805-8a983d00-cd76-11eb-97bf-e3980fdaa3b0.png)

Can you please tell me if it is okay and what questions do I put here. @soumita1234

[2021-06-14 19:57] ayushsoni1010 commented on #54
Thanks✨

[2021-06-14 19:57] jugeshraghav commented on #68
i created a PR please review it.

[2021-06-14 20:06] puneetkaur2929 opened #73 "Adding Image-slider after Navbar"
hey @soumita1234
I wish to add **Image -slider** just after Navbar to enhance look of website .
Quote & Donate section  will be shifted downwards .

Kindly assign this issue to me under LGM SOC '21

[2021-06-14 20:23] mdinesh124 commented on #20
@soumita1234 I am still trying to solve the issue. But I think as the payment gateway is under razorpay, I can hardly make any changes to it since it is predefined.

[2021-06-14 20:43] jugeshraghav commented on #68
![Screenshot (94)](https://user-images.githubusercontent.com/74092377/121956791-2d54b980-cd7f-11eb-839b-ec5b7b6815cc.png)

Here is the final faq section. please have a look and review it.

[2021-06-15 00:39] akitiashritha commented on #73
/assign

i would like to work on this issue could please assign to me @soumita1234

[2021-06-15 00:40] akitiashritha commented on #73
/assign

I would like to work on this issue could you please assign it to me @soumita1234

[2021-06-15 06:37] ayushsoni1010 opened #76 "Add Contributing Guidelines.md file"
Have a look once :)

https://user-images.githubusercontent.com/76895975/122004346-ea700180-cdd1-11eb-993c-767953b6101e.mp4

Kindly assign me this :)
Thanks✨

[2021-06-15 07:15] Jagannath8 commented on #49
https://jagannath8.github.io/HelpingHand/

[2021-06-15 07:15] soumita1234 commented on #73
Can you first share your  idea. Change and share the link here first

[2021-06-15 07:17] #68 closed

[2021-06-15 07:27] #57 closed

[2021-06-15 07:31] soumita1234 commented on #4
@jayant766 Any update?

[2021-06-15 07:32] #52 closed

[2021-06-15 07:35] jayant766 commented on #4
@soumita1234 working on it.

[2021-06-15 07:52] soumita1234 commented on #49
Don't make separate page. Like every other area make about us in same the page.
and follow this serial.

home--> mission --> about us->contact

Delete the contact symbols from "About us" page;

Use another favicon symbol, should nit be same as home.

Do this changes and then share the link.

Although everything is okay !!

[2021-06-15 09:09] Nikhita28 opened #77 "Improve the FAQ section."
The answers to the questions are appearing on hovering over the question. Instead of that, we can display the answers to the FAQs by clicking on the question.
I would like to work on this issue under LGMSOC '21

[2021-06-15 09:25] soumita1234 commented on #77
Yes work on it.

[2021-06-15 10:30] puneetkaur2929 commented on #73
Hey @soumita1234
[https://github.com/puneetkaur2929/HelpingHand.git](url)
I have pushed changes in new branch.

 I hereby  attached screenshots .
![Screenshot (26)](https://user-images.githubusercontent.com/80326308/122037483-3e8ade00-cdf2-11eb-9c15-f75c440705d0.png)
![Screenshot (25)](https://user-images.githubusercontent.com/80326308/122037520-46e31900-cdf2-11eb-9e44-c35468a724e3.png)

![Screens

[2021-06-15 11:31] lucifer-here01 commented on #39
I want to Contribute to this issue how can I do  as I am a newbie in the openSource

[2021-06-15 12:27] ayushsoni1010 opened #82 "Bug : While we hover navbar buttons"
There is a bug while we hover the navbar buttons ( Home , Mission , Contact )

Hover -> border-radius is changing frequently short and long

https://user-images.githubusercontent.com/76895975/122051614-6bdf8800-ce02-11eb-8c45-c04d5ad66b9d.mp4

Kindly assign me this issue :)
Thanks✨

[2021-06-15 12:37] ayushsoni1010 commented on #82
I have resolved the issue

Have a look once :)

https://user-images.githubusercontent.com/76895975/122053450-62571f80-ce04-11eb-8531-01c0664085bf.mp4

[2021-06-15 12:48] jugeshraghav opened #83 "Improvise the footer by adding more details related to the website ."

[2021-06-15 12:49] jugeshraghav commented on #83
The footer looks so simple and I think it must include more details.

[2021-06-15 12:49] jugeshraghav commented on #83
Please assign this issue to me @soumita1234

[2021-06-15 12:51] jugeshraghav opened #84 "A separate mission page."
A separate mission  page could be added which include all the details about the mission.

[2021-06-15 15:06] Jagannath8 commented on #49
https://jagannath8.github.io/HelpingHand/

[2021-06-15 17:02] soumita1234 commented on #82
@ayushsoni1010  good!! change the hover effect from yellow and give it some lght toned color like light gray that matches the theme.

[2021-06-15 17:05] soumita1234 commented on #83
Currently I dont need any changes in footer. If you implemented it. then share with me. If its good, you can create PR @jugeshraghav

[2021-06-15 17:06] jugeshraghav commented on #83
Sure I will keep you updated.

On Tue, Jun 15, 2021, 22:35 Soumita Biswas ***@***.***> wrote:

[2021-06-15 17:07] #77 closed

[2021-06-15 17:08] soumita1234 commented on #4
@jayant766  share the work you have done here first. send me the link of your hosted page.

[2021-06-15 17:12] neha030 opened #87 "Improvise the Social Media Icons"
I want to improvise the social media icons
Please assign me this .

[2021-06-15 17:13] neha030 commented on #87
I am a LGM-SOC Participant

[2021-06-15 17:14] #82 closed

[2021-06-15 17:14] ayushsoni1010 commented on #82
Can you please send me the color code?
If possible that would be easy for me to work

Because I have resolved it :)
I m waiting for your response that when you will assign me the issue

[2021-06-15 17:15] ayushsoni1010 commented on #82
Why you have closed it? :(

[2021-06-15 17:15] #76 closed

[2021-06-15 17:15] soumita1234 commented on #65
@RiyaGupta89  any update ?

[2021-06-15 17:29] supzi-del opened #88 "Increase size of donate button"
The donate here button on homepage is very small. Font size and padding can be given.
I want to work on this under LGMSOC

[2021-06-15 17:36] ayushsoni1010 commented on #82
Ohh I got it someone has changed that, not a problem.

But I have added the Neomorphism effect when we hover the navbar button
@soumita1234  You can see as well

The current one is a simple UI.

See the difference properly :)

[2021-06-15 17:41] ayushsoni1010 commented on #82
Have a look once :)
Navbar section has different UI

[2021-06-15 17:48] soumita1234 commented on #88
I think this is okay !! no need to change.

[2021-06-15 17:49] #88 closed

[2021-06-15 18:13] RahulBansal0502 opened #89 "ADD DONATE button also in Navbar || Revamp FAQ section || Headings on particular section"
1. I want to add DONATE button in Navbar, footer also.
2.  Heading in sections like on mission section contact us section.
3.  Revamp FAQ section. Currently, if we open 1 it is colliding with another one.

I want to work on these issues. Assign it to me @soumita1234

[2021-06-15 19:25] jatinjain001 commented on #65
I would like to work on this

[2021-06-15 19:26] jatinjain001 commented on #49
I would like to work on it

[2021-06-15 20:07] ishitakapoor26 opened #90 "Adding Hover Effect in navigation bar"
Adding Hover Effect in navigation bar.

[2021-06-15 20:07] #90 closed

[2021-06-16 00:31] akitiashritha opened #91 "I think responsiveness of the page is not working @soumita1234"

[2021-06-16 03:37] akitiashritha commented on #91
can i work on this issue @soumita1234

[2021-06-16 06:13] gouravchawla334 commented on #42
I want to add contact us page

[2021-06-16 07:36] puneetkaur2929 opened #92 "To well define FAQ & contact us section"
hey @soumita1234
As you can see below FAQ section and contact us section are merging with each other so i want to revamp that .

Kindly assign this issue to me under LGM SOC '21
![Screenshot (29)](https://user-images.githubusercontent.com/80326308/122177850-9df4f680-cea3-11eb-9607-226484c6c4a1.png)

[2021-06-16 07:42] soumita1234 commented on #92
Please check it another time. As in my systems its working fine. There is no collision
![hhhhhh](https://user-images.githubusercontent.com/58908901/122178785-8702d400-cea4-11eb-9bbd-e2375988da4b.JPG)

[2021-06-16 07:44] soumita1234 commented on #91
Yes sure work on this.

[2021-06-16 07:48] soumita1234 commented on #89
Work on point 2 and 3.
no need to add more donation buttons.
Add header "Our Mission" and "Contact Us"
Fix the colliding problem. Make sure in one time only one FAQ should open.

After fixing host it then send the link here

[2021-06-16 07:58] puneetkaur2929 commented on #92
@soumita1234
As you said, i checked it in my system again but  it is merging, probably it is not responsive .

[2021-06-16 07:59] puneetkaur2929 commented on #73
@soumita1234
Have you given a second thought to this issue?

[2021-06-16 08:21] soumita1234 commented on #92
Yes for mobile view it is merging. This issue is assigned. Otherwise there is no issue with FAQ section

[2021-06-16 09:02] ayushsoni1010 opened #93 "Implementing new feature to FAQ section"
Heyy @soumita1234
I want to add this feature for the perfection and beauty of the FAQ section

https://user-images.githubusercontent.com/76895975/122189513-9e46bf00-ceae-11eb-9c15-749fb778b04c.mp4

Kindly assign me this issue :)
Thanks✨

[2021-06-16 09:47] soumita1234 commented on #49
This about us section s not complementing the website.

[2021-06-16 09:47] soumita1234 commented on #49
Make changes and share me the link here

[2021-06-16 09:48] #48 closed

[2021-06-16 09:57] soumita1234 commented on #65
You can work on this issue as I didn't got any update from the assignee.

[2021-06-16 09:59] soumita1234 commented on #73
I think this changes are not required. Current design is okay. As I want to keep the website simple.

[2021-06-16 13:09] ArshWalker opened #95 "Replacing master with main in line 13"
Replacing master with main in line 13 of readme.
As there is no master branch.
@soumita1234 please assign this issue to me...

[2021-06-16 13:36] ayushsoni1010 commented on #65
sure @soumita1234  :)

[2021-06-16 14:45] #93 closed

[2021-06-16 15:03] #42 closed

[2021-06-16 16:01] ayushsoni1010 commented on #65
Heyy @soumita1234

Can I add this type of illustrations?

![Screenshot (885)](https://user-images.githubusercontent.com/76895975/122253764-19799680-ceea-11eb-8342-26a93aee13a2.png)

[2021-06-16 16:12] Parth-Shete commented on #49
I would like to work on this issue, please assign me this issue

[2021-06-16 16:44] #73 closed

[2021-06-16 17:22] ayushsoni1010 commented on #65
## 📌HAVE  SOME  QUESTIONS?
![image](https://user-images.githubusercontent.com/76895975/122263519-29967380-cef4-11eb-9db0-a98724189a9a.png)

Do you like to add this feature?
This will create an additional interaction with the user, as we have added an FAQ section too
So tell me would you like to add or don't want?

Doubts
-do I have to create another page for this
-do I have to work on that current

[2021-06-16 17:43] soumita1234 commented on #65
@ayushsoni1010 I have assigned you to work on this issue.

[2021-06-16 17:44] soumita1234 commented on #65
Add this type of feature. dont need to creat another page just add it under "Contact" section under FAQs

[2021-06-16 17:45] soumita1234 commented on #65
No...I think this is not suitable

[2021-06-16 17:47] #95 closed

[2021-06-16 18:01] SahityaRoy commented on #65
hey i can create a professional looking footer for you

[2021-06-16 18:02] SahityaRoy commented on #49
hey can try once if you want

[2021-06-16 20:05] ishitakapoor26 opened #97 "Add LGM-SOC'21 score card in readme.md"
Add LGM-SOC'21 score card in readme.md

[2021-06-16 20:05] ishitakapoor26 commented on #97
@soumita1234 pls assign this issue to me.

[2021-06-16 20:45] gouravchawla334 commented on #65
Hey @soumita1234 I want to work on this
I want to add contact us page  after faq section.

[2021-06-16 20:48] gouravchawla334 commented on #49
I also want  to work on this issue, please assign me this issue

[2021-06-17 06:22] soumita1234 commented on #97
Share me the SS

[2021-06-17 07:09] ishitakapoor26 commented on #97
@soumita1234
![score card](https://user-images.githubusercontent.com/78542333/122348738-196cab80-cf69-11eb-835f-690610b5f3eb.PNG)

[2021-06-17 11:09] WH0SUMIT opened #99 "Want Add About Page with some description about helping hands !"
I want to contribute to this feature. I'm planning to add about page with some description about helping hand.
please assign this issue to me.

[2021-06-17 11:17] WH0SUMIT opened #100 "FAQ section is not working properly !"
Issue: if we open a FAQ question then it will cover all the other question so we cannot access the other questions.
*issue screenshot*
![image](https://user-images.githubusercontent.com/76095902/122386552-a0328000-cf8b-11eb-9cc9-cd77838903fc.png)

I want to contribute to this feature. I'm planning to add a better experience for the user. I make a responsive & Bug-free FAQ section.

[2021-06-17 11:25] akitiashritha commented on #91
Hi,
@soumita1234 I have changed the FAQ section as the previous one was not that good and more over no responsivenss so i had to change it.Could please have a look at it once.

[2021-06-17 13:17] divyasri77 opened #102 "Navigate to other pages in Mission section"
In Mission section there are 3 cards , when we click education card it will navigate to another page for more details
(same for all the cards)

[2021-06-17 14:04] soumita1234 commented on #102
It is working properly.

[2021-06-17 14:06] soumita1234 commented on #100
@WH0SUMIT Check the website again. I guess the issue is resolved.

[2021-06-17 14:09] soumita1234 commented on #97
@ishitakapoor26 I dont want to add this on readme. this is not important for the project overview.

[2021-06-17 14:11] soumita1234 commented on #91
Share me the page link here first and the PR has conflicts. Check and resolve

[2021-06-17 14:24] divyasri77 commented on #102
Like what I'm saying is when we click the education card it will open another page for more about education details

[2021-06-17 14:28] tjanhvi opened #103 "Social media links should open in new tab on clicking."
Please assign me this issue.

[2021-06-17 14:29] tjanhvi opened #104 "Add footer design"
Please assign me this issue.

[2021-06-17 14:30] #104 closed

[2021-06-17 14:34] tjanhvi opened #105 "Improve mission page."
Please assign me this issue.

[2021-06-17 14:39] akitiashritha commented on #91
can i make a video and share here?

[2021-06-17 14:54] akitiashritha commented on #91
https://akitiashritha.github.io/project/
could please review it
@soumita1234

[2021-06-17 16:12] jatinjain001 commented on #49
![Screenshot (262)](https://user-images.githubusercontent.com/46483236/122434601-de906500-cfb4-11eb-8330-fd5b0198f2ba.png)
Look at it

[2021-06-17 16:13] jatinjain001 commented on #49
its looking awesome and simple view with the colors and fonts, please let me know for changes

https://jatinjain001.github.io/HelpingHand/

[2021-06-17 16:27] wh0sumit commented on #100
yes, the issue has been resolved but don't you think that the UI is not good, the underline between the questions is not fitted perfectly if you look when you open a question it's still showing there!

[2021-06-17 16:31] WH0SUMIT commented on #105
actually, there is no mission page separately there is a mission section on the home page I guess!

[2021-06-17 17:49] soumita1234 commented on #102
Actually I want this page like as it is now. One page website don't want  separate pages.

[2021-06-17 17:51] soumita1234 commented on #105
I dont want any changes on current mission section.

[2021-06-17 17:53] soumita1234 commented on #100
One time only one question should open and by clicking another, previous question will be closed..make this changes.

[2021-06-17 17:57] soumita1234 commented on #91
This is okay. If you make changes on UI of FAQ section then do that its too simple.

[2021-06-17 18:01] soumita1234 opened #106 "Increase the area of every section(Home, Mission, FAQs, Contact). The sections should cover full screen."

[2021-06-17 19:42] puneetkaur2929 commented on #106
@soumita1234
I am interested to work on this issue under LGM SOC '21
It will be helpful for me to understand if you could elaborate more.

[2021-06-17 20:16] ayushsoni1010 commented on #106
![Screenshot (889)](https://user-images.githubusercontent.com/76895975/122466458-f8db3a80-cfd6-11eb-83be-cc089f7bd46a.png)

Like this @soumita1234 @puneetkaur2929

[2021-06-17 20:52] ayushsoni1010 commented on #65
Heyy @soumita1234
I have added the contact section

https://user-images.githubusercontent.com/76895975/122469960-275b1480-cfdb-11eb-8efc-8416761d891c.mp4

I have added a new feature too  to the footer section
This contains a professional UI footer and an enhancement look.
I am a UI/UX designer, from my perspective, this is really pretty perfect :)  ,,,,,,, So I worked on this too

Hope you like it

[2021-06-18 02:29] akitiashritha commented on #91
okay i will do that but what exactly should i add like animations or color effects?

[2021-06-18 02:31] akitiashritha commented on #91
and more over some one has raised the issue on working with FAQ right so should i make changes or not?

[2021-06-18 03:58] puneetkaur2929 commented on #106
Ok I got it

[2021-06-18 04:34] divyasri77 commented on #102
okay👍

[2021-06-18 04:34] #102 closed

[2021-06-18 04:36] divyasri77 opened #108 "Changing the hovering color in Navbar"
For Helping hand it is in red color but for remaining three it is hovering in yellow color . So I want change that to Red color.

[2021-06-18 09:37] #103 closed

[2021-06-18 09:40] soumita1234 commented on #106
change the "Contact us" "FAQs" and "Mission" header. this box border not looking good.

[2021-06-18 09:45] soumita1234 commented on #91
@akitiashritha  as all the problems are already solved. you check out the responsiveness of the website and it its still not working then you fix it.

[2021-06-18 09:47] akitiashritha commented on #91
like i should revert back FAQ section?

[2021-06-18 11:17] soumita1234 commented on #49
@jatinjain001 make the background color similar to the website theme

[2021-06-18 11:18] soumita1234 commented on #99
This issue is already raised and assigned

[2021-06-18 11:19] #99 closed

[2021-06-18 11:22] jatinjain001 commented on #49
okay

[2021-06-18 11:22] soumita1234 commented on #65
@ayushsoni1010 you worked like a pro !! I'm really amazed.

[2021-06-18 11:22] #65 closed

[2021-06-18 13:01] ayushsoni1010 commented on #106
Yeah I was thinking that too
Someone has made changes like this
I have done another thing but I had gone through what is updating or who-else has made PR before me
So I continued that  :(

[2021-06-18 13:03] ayushsoni1010 commented on #106
I want to work on this issue
Kindly assign me :)

[2021-06-18 13:18] harsh72835 commented on #83
There is is issue in footer like this,
![image](https://user-images.githubusercontent.com/63364373/122566874-aeed6580-d065-11eb-8fa8-0210a52f7706.png)

Is it styled as that or is it broken?

[2021-06-18 13:31] tjanhvi commented on #106
I would like to do this. Please assign me this issue.

[2021-06-18 13:33] ayushsoni1010 commented on #106
I want to work on this issue I had already implemented some features
Kindly assign me this issue :)

[2021-06-18 13:39] tjanhvi opened #111 "Issue in footer design"
There are already social media links and again the links are showing above the footer design. I want to adjust it in a proper manner. Please assign me this issue.

[2021-06-18 13:44] tjanhvi commented on #49
I would like to do this. Can you please assign me this issue....

[2021-06-18 13:48] tjanhvi commented on #111
![image](https://user-images.githubusercontent.com/78703730/122571090-fd046800-d069-11eb-9506-38228a0cba9e.png)
See this?

[2021-06-18 14:14] Amrutha1101 commented on #4
@soumita1234  can I work on this issue?

[2021-06-18 14:15] Amrutha1101 commented on #4
@soumita1234 can I work on this issue under LGM SOC?

[2021-06-18 14:31] harshita9621 commented on #4
can you please assign this to me.

[2021-06-18 16:06] mr-palindrome opened #113 "Issue in follow us section in footer!!"
I would like to fix the issue! it's a good-first-issue!!

[2021-06-18 16:11] mr-palindrome commented on #113
It's a very small issue like good first issue, I would like to fix it.
Please assign me with this issue!

[2021-06-18 17:07] jatinjain001 commented on #49
I am still working on it

[2021-06-18 17:27] jatinjain001 commented on #49
You can check it on last link i shared you iis it fine ? if any changes please let me know

[2021-06-18 18:02] soumita1234 commented on #111
the site is updated. You can check. There is no issue

[2021-06-18 18:03] soumita1234 commented on #106
@ayushsoni1010 Work on it. Before creating PR share SS.

[2021-06-18 18:05] ayushsoni1010 commented on #106
Sure @soumita1234  :)

[2021-06-18 18:06] soumita1234 opened #115 "Make the Website Responsive"
As you can the website is not responsive. Make the website responsive

[2021-06-18 18:08] soumita1234 commented on #4
Yes. Update me within 2 days. Share site link or SS before making PR.

[2021-06-18 18:33] only-ashwin commented on #115
Please assign this task to me.

[2021-06-18 18:37] ayushsoni1010 commented on #65
Thanks a lot @soumita1234✨ and for the collaboration too :D

[2021-06-18 18:40] ayushsoni1010 commented on #65
Please share your Twitter id link. I have to add it somewhere

[2021-06-18 18:45] only-ashwin commented on #111
Please assign this task to me.

[2021-06-18 19:27] Ciggzy1312 commented on #115
I would like to work on it as an LGMSOC participant

[2021-06-18 19:29] Ciggzy1312 opened #116 "Update for the footer section"
![image](https://user-images.githubusercontent.com/65884232/122608211-71a2cb00-d099-11eb-819b-87ed8e29a6e4.png)

There is alignment issue with the footer section of the website and I think the UI can be improved
And the social media icons are overwritten

[2021-06-18 21:14] ayushsoni1010 commented on #106
@soumita1234  Please share your Twitter id link. I have to add it.

[2021-06-18 21:45] ayushsoni1010 commented on #106
![Screenshot (891)](https://user-images.githubusercontent.com/76895975/122618574-234af780-d0ac-11eb-9f39-fb54990fa369.png)
![Screenshot (890)](https://user-images.githubusercontent.com/76895975/122618621-39f14e80-d0ac-11eb-9707-39d1f0113e1d.png)
![Screenshot (892)](https://user-images.githubusercontent.com/76895975/122618644-44abe380-d0ac-11eb-9d33-8b13bf545da4.png)
![Screenshot (893)](https://use

[2021-06-19 02:34] Amrutha1101 commented on #4
Sure!

On Fri, 18 Jun 2021, 11:38 pm Soumita Biswas, ***@***.***>
wrote:

[2021-06-19 08:07] Amrutha1101 commented on #4
@soumita1234
Before:
![Screenshot (95)](https://user-images.githubusercontent.com/63070698/122635781-65535800-d103-11eb-9620-1048007ec949.png)
After:
![Screenshot (94)](https://user-images.githubusercontent.com/63070698/122635789-70a68380-d103-11eb-88e8-3e46b572d960.png)

Before:
![Screenshot (93)](https://user-images.githubusercontent.com/63070698/122635759-494fb680-d103-11eb-8f13-7775d8722c34.pn

[2021-06-19 08:08] Amrutha1101 commented on #4
Let me know if there are any other changes you want me to do @soumita1234

[2021-06-19 09:32] #49 closed

[2021-06-19 09:33] soumita1234 commented on #106
remove twitter @ayushsoni1010 . make PR.

[2021-06-19 09:34] soumita1234 commented on #116
yes. fix this

[2021-06-19 11:19] ayushsoni1010 commented on #106
Heyy @soumita1234

What to do with the contact us form
It cannot fetch data if any user fill the form
Backend is needed, What's your opinion, what to do?
Can I add backend for fetching form data?

[2021-06-19 12:52] tjanhvi commented on #111
just now i again saw the same problem it was not improved.........

[2021-06-19 16:50] soumita1234 commented on #106
No need to add backend yet. @ayushsoni1010

[2021-06-19 17:31] RahulBansal0502 commented on #89
@soumita1234 I think the issue has been resolved so may I close this PR?

[2021-06-19 18:03] Umesh-01 opened #117 "align badges to center"
### Describe
I think all these badges should be aligned to the center because they are not looking enough good.

![image](https://user-images.githubusercontent.com/83420185/122651349-dc194100-d155-11eb-8f66-d176d9123a67.png)

![image](https://user-images.githubusercontent.com/83420185/122651435-65c90e80-d156-11eb-9bbc-13294602ed8d.png)

### Solution
I will align these badges to the center the READ

[2021-06-19 18:23] Umesh-01 commented on #117
@soumita1234 should I work on this??

[2021-06-19 18:54] ayushsoni1010 commented on #116
Heyy @soumita1234
I have already fix it
no need of this :)
Sry @Ciggzy1312

[2021-06-19 18:57] ayushsoni1010 commented on #106
![Screenshot (894)](https://user-images.githubusercontent.com/76895975/122652773-2dc5c980-d15e-11eb-9849-db690ebddbae.png)

I was adding this
Okay @soumita1234
Not an issue, I will remove it :)

[2021-06-19 19:07] ayushsoni1010 commented on #111
I have fixed it :)
@soumita1234 @tjanhvi

[2021-06-19 19:11] ishitakapoor26 opened #119 "Add a Feedback page"
Add a Feedback page

[2021-06-19 19:11] ishitakapoor26 commented on #119
@soumita1234 pls assign me this issue.

[2021-06-19 20:45] soumita1234 commented on #119
Dont want these section on the page.

[2021-06-19 20:46] soumita1234 commented on #117
Actually I wanted this left sided.

[2021-06-19 20:47] #106 closed

[2021-06-19 20:50] soumita1234 commented on #100
@WH0SUMIT please share the site link so that I could check the changes.

[2021-06-19 20:53] soumita1234 commented on #4
Actually you did a good work but I want it to be simple. As it was before

[2021-06-20 02:49] Amrutha1101 commented on #4
Can you be more specific?

[2021-06-20 08:10] Umesh-01 commented on #117
@soumita1234

@soumita1234 I think these badges will look more better if they will be aligned to center...
if u r  thinking about the text (left-aligned) then don't worry it will not affect their look.

I think users will look/notice graphical things more than the text, so it doesn't matter where the text is aligned.

[2021-06-20 08:11] Umesh-01 commented on #117
@soumita1234  tell me if u want them to be aligned... 🙂

[2021-06-20 08:23] #119 closed

[2021-06-20 08:44] soumita1234 commented on #117
If you want then design a banner for helping hand and add it

[2021-06-20 08:47] soumita1234 commented on #4
I don't want more changes in these sections,
like homepage, mission.

[2021-06-20 14:28] Amrutha1101 commented on #4
Sorry, I didn't really get you. Can you tell which image to be styled like send ss?

[2021-06-20 17:22] tjanhvi commented on #111
okay :)

[2021-06-20 17:23] tjanhvi opened #121 "Update the mission section in the home page"

[2021-06-20 17:23] tjanhvi commented on #121
Please assign me this issue.

[2021-06-20 17:26] tjanhvi opened #122 "Make contact page responsive."
Please assign me this issue.

[2021-06-20 17:42] soumita1234 commented on #4
https://suprememinds.ai/
see this site. I want the home page Kid image like this type. Random shaped and floating.

[2021-06-20 17:53] #111 closed

[2021-06-20 18:25] #92 closed

[2021-06-21 09:19] ROHAN842 opened #124 "Successful alert pop up feature for contact page "Send Message" button"
As when user fills all the detail and clicks on "Send Message" button in footer section then site just normally reloads and the user doesn't get any confirmation that whether the message is sent successfully or not!

I want to add an alert which will pops up and will tell the user that message was delivered successfully with a green tick along with I would also like to add a feature without back e

[2021-06-21 09:27] ROHAN842 opened #125 ""Contact" button in Navbar not working properly"
As for other 3 butttons i.e. home, Mission and Faq on clicking all 3 of them are taking to their respective sections on the same page but on clicking to Contact button in Navbar it is not taking user to Contact page section.

![image](https://user-images.githubusercontent.com/61961107/122739800-f3187a00-d2a0-11eb-8492-93a4bc1180e0.png)

Can I work on this issue?

Please assign this issue to me und

[2021-06-21 11:30] ayushsoni1010 commented on #4
I can create images like this :)

🎯 -- Adding some effects , images in the shape , hovering and shifting and rotating , creating an attractive and genuine look so user can find it very attractive and lovable to hover :)

I want to work on this issue
@soumita1234  Kindly assign me this issue
Thanks✨

[2021-06-21 11:50] kumarishalini6 opened #126 "SplashScreen"
i want to add splash screen
@soumita1234 please assign me this issue

[2021-06-21 11:50] kumarishalini6 opened #127 "preloader"
@soumita1234 can i work on this issue

[2021-06-21 12:28] harishpansari commented on #125
Can I work on this issue? @soumita1234

[2021-06-21 13:03] soumita1234 commented on #127
I don't want this feature on this website.

[2021-06-21 13:04] soumita1234 commented on #124
Yes you can work on this issue

[2021-06-21 13:07] kumarishalini6 commented on #127
Ok

[2021-06-21 13:07] #127 closed

[2021-06-21 13:11] kumarishalini6 opened #129 "Social media icons at home page"
I want to add social media icons at home page with some animations
@soumita1234 can I work on this issue

[2021-06-21 13:13] soumita1234 commented on #125
You can fix this issue.

[2021-06-21 13:14] soumita1234 commented on #129
I think this is not needed. Thanks for creating issue

[2021-06-21 13:15] kumarishalini6 commented on #129
Ok

[2021-06-21 13:15] #129 closed

[2021-06-21 13:18] soumita1234 commented on #4
Sure!! after changing send link first before making PR

[2021-06-21 13:20] ayushsoni1010 commented on #4
Sure @soumita1234  :)

[2021-06-21 15:07] ayushsoni1010 commented on #4
https://user-images.githubusercontent.com/76895975/122775359-abf1af80-d2c7-11eb-8e3f-32f8c143402c.mp4

Hope you like it :)

[2021-06-21 17:56] soumita1234 commented on #4
Yes this is good @ayushsoni1010  but  I think no need to add this rotate feature. You can add only hover effects.

[2021-06-21 17:58] #100 closed

[2021-06-21 18:54] ayushsoni1010 commented on #4
https://user-images.githubusercontent.com/76895975/122812960-fe46c680-d2ef-11eb-8920-7446028023eb.mp4

Alright @soumita1234  ?

[2021-06-22 07:55] soumita1234 commented on #4
@ayushsoni1010 yeah its perfect.

[2021-06-22 11:15] ayushsoni1010 opened #132 "Updating Contributing Guidelines"
![image](https://user-images.githubusercontent.com/76895975/122915038-eebf9000-d378-11eb-9573-bb04faa48764.png)

I want to remove this and add some suitable thing instead of this, according to assigning labels under working days

@soumita1234  Kindly assign me this issue :)

[2021-06-22 11:20] ayushsoni1010 commented on #89
Yup @RahulBansal0502
you can close this issue :)

[2021-06-22 11:22] ayushsoni1010 commented on #115
Heyy @Ciggzy1312 👋

You can close this issue, as these issue has been resolved and merged too :)

[2021-06-22 14:21] tjanhvi commented on #125
i already update it yesterday in the pr #123 ...............

[2021-06-22 15:19] tjanhvi commented on #124
I already done this .................

[2021-06-22 17:37] ayushsoni1010 opened #136 "Bug : While we hover navbar buttons & Adding a new feature to FAQ section"
Heyy @soumita1234 👋

1.
There is a bug while we hover the navbar buttons ( Home , Mission , Contact )
Hover -> border-radius is changing frequently short and long

2.
FAQ section --> while hovering questions black underline and the border doesn't look suitable
I want to add a new feature to it.

Kindly assign me this issue :)
Thanks✨

[2021-06-22 20:02] soumita1234 commented on #136
Sure @ayushsoni1010

[2021-06-23 07:44] soumita1234 opened #137 "Restructure the code. Add JS, CSS in separate files"
You can see there is inline CSS styling ans JS . I want them to be in separate files and then link. Remove all the CSS and JS from the HTML(index.html) file.
-There is separate css file  named style.css add the inline css stylings to this file
-Create a JS file named "app.js" and add js components to it.

[2021-06-23 07:49] soumita1234 opened #138 "Downlode the images and save it to img file and add to Mission section"
The images of mission section are directly linked from the web link of the images in case of any problem in those sever it cause hamper on our website so
-Downlode the images(links are in code of mission section)
-Add those images to the img file
-Add those images to the section

[2021-06-23 07:49] #4 closed

[2021-06-23 07:50] #89 closed

[2021-06-23 07:52] #115 closed

[2021-06-23 07:52] #122 closed

[2021-06-23 07:54] soumita1234 commented on #125
This issue is not resolved and its assigned to @ROHAN842 . He made PR and its under review.

[2021-06-23 08:08] ayushsoni1010 commented on #138
Heyy @soumita1234👋

I want to work on this issue

Kindly assign me this issue :)
Thanks✨

[2021-06-23 08:08] ayushsoni1010 commented on #137
Heyy @soumita1234👋

I want to work on this issue

Kindly assign me this issue :)
Thanks✨

[2021-06-23 08:23] soumita1234 commented on #137
Sure @ayushsoni1010

[2021-06-23 11:41] ROHAN842 commented on #125
@soumita1234 I request you to kindly close this issue as the PR is already merged for this issue

[2021-06-23 14:30] #132 closed

[2021-06-23 14:30] #124 closed

[2021-06-23 14:31] #125 closed

[2021-06-23 14:31] #136 closed

[2021-06-24 01:48] coding-geek21 opened #142 "Fix the images in cards"
The images used in cards does looks shirking, I would like to fix this

please assign me under lgm-soc 2021 @soumita1234

[2021-06-24 01:51] coding-geek21 opened #143 "Make the website responsive"
![image](https://user-images.githubusercontent.com/53329034/123190226-c5a81800-d4bc-11eb-9736-990a3997d4f0.png)
I would like to work on this issue please assign me under LGM-SOC'21

[2021-06-24 04:37] mahiwattamwar commented on #143
@soumita1234  mam I would like to work on this issue  and make website responsive please assign me under LGM-SOC'21

[2021-06-24 08:44] soumita1234 commented on #143
@coding-geek21  @mahiwattamwar I'll assign this issue after some days because of continuous changes the responsiveness is breaking  down.

[2021-06-24 11:49] honeybhardwaj opened #145 "Code Reusablity in Source Code"
Hi,
Since its a very important part while developing to write a maintainable and reusable code where everyone can figure out things. The project uses some inline javascript and css in this project which isn't a good practice and it will not help the users to make a maintable code which will create a mess at the end. so i would like to work on this(under LGMSOC).

I will be creating a seperate js f

[2021-06-24 12:59] soumita1234 commented on #145
@honeybhardwaj thanks for finding out this issue, but this issue is previously raised and assigned.
#137

[2021-06-24 15:52] #138 closed

[2021-06-25 04:38] kshitija-2001 opened #146 "Addition of About us page"
Adding a about us page where user will have know more about working of helping hand

[2021-06-25 04:38] kshitija-2001 opened #147 "Addition of about us page"
Adding a about us page where user will have know more about working of helping hand

[2021-06-25 04:41] #147 closed

[2021-06-25 05:45] soumita1234 commented on #146
This issue is already resolved !! you can checkout the PR section. We are reviewing this PR

[2021-06-25 06:15] kshitija-2001 commented on #146
ok thank you

[2021-06-25 09:01] #146 closed

[2021-06-26 05:21] puneetkaur2929 opened #148 "To add space between the cards in our mission section"
Hey @soumita1234

As you can have a look at the Screenshot below cards in our mission section requires a little space that will look more appealing .

Kindly assign this issue to me under LGM SOC'21.
![Screenshot (53)](https://user-images.githubusercontent.com/80326308/123502750-46594680-d66c-11eb-9730-10cd3d1bac78.png)

[2021-06-26 06:24] soumita1234 commented on #148
Hi @puneetkaur2929 it must be occur on lodeing time on your system, you can checkout the website again, there is no problem like this.

[2021-06-26 08:52] Sejal2801 commented on #143
assign it to me

[2021-06-26 08:53] Sejal2801 commented on #148
Assign it to me

[2021-06-26 10:30] mahiwattamwar commented on #143
ok mam

[2021-06-26 12:29] harishpansari commented on #148
I am interested and working under LGM-SoC. plz assign to me @soumita1234

[2021-06-26 19:59] Saumya-Patel opened #149 "back button in payment form"
I want to add "back button" in payment form, because on clicking "cross(cut) button" it remove the whole page of payment and then user have to go again "donate here" button and   fill the form from starting to make payment .which seems bit  uncomfortable for user.

so please assign me to do this

[2021-06-27 07:14] soumita1234 commented on #149
You can only work into the problem "Clicking submit button in form section" it redirects to FAQ section. but it shouldn't be changed or redirected.
Another issue you raised already assigned to participants.

[2021-06-27 09:49] skpandey885 commented on #143
Can You Assign This To Me Under LGMSoC! I will Make It Completely responsive!

[2021-06-27 11:13] Saumya-Patel commented on #149
Ok

[2021-06-27 13:19] soumita1234 commented on #145
@honeybhardwaj the CSS part is done. You can transfer the JS to app.js file.
Are you willing to work on this ?

[2021-06-27 13:20] soumita1234 commented on #149
You have to maintain the code structure Like there is separate files for CSS and JS. You have to maintain the code reusability.

[2021-06-27 17:05] ayushseth07 opened #151 "Fixing the body content"
There is white space on the left side of the page body and therefore website scrolls horizontally
![image](https://user-images.githubusercontent.com/54364704/123553293-f4adda80-d797-11eb-87b9-2beedb6d5652.png)

[2021-06-27 18:09] ayushseth07 commented on #151
please assign this issue to me

[2021-06-27 18:26] honeybhardwaj commented on #145
sure i am up for anything , Thanks for asking

[2021-06-27 18:46] soumita1234 commented on #145
After finishing the task. do join the discord channel link added to the readme to Share your work to me by screensharing.

[2021-06-27 18:49] honeybhardwaj commented on #145
sure thank you , you can assign me this issue under lgmsoc

[2021-06-28 09:01] soumita1234 commented on #151
@ayushseth07 this is happening because the website is not responsive and you are watching it in tab view I guess.

[2021-06-28 12:03] ri-tae-ka opened #152 "Update Favicon and Contact Us Section to be responsive"
I would like to work on this issue to make the contact us section to be responsive and update the favicon as a part of LGM-Soc '21.
Please assign me the issue.

[2021-06-28 16:05] honeybhardwaj commented on #145
@soumita1234  discord link is stating invalid to me. please check once

[2021-06-28 20:23] ayushsoni1010 commented on #145
https://discord.gg/qB4sFWxX

@honeybhardwaj here is the link you can join :)

[2021-06-28 20:29] honeybhardwaj commented on #145
@ayushsoni1010  thanks for sharing

[2021-06-29 06:02] soumita1234 commented on #151
@ayushseth07 but there is no problem on my system I mean  no space.

[2021-06-29 06:08] ri-tae-ka opened #154 "Update Favicon and Footer"
I'd like to work on this issue under LGM-SOC '21 and update the favicon and improve the footer.
Please assign me this work under LGM-SOC.

[2021-06-29 18:12] soumita1234 commented on #154
@ri-tae-ka I don't want any more changes on these sections.

[2021-06-29 18:15] #145 closed

[2021-06-29 19:34] TheArushiSingh opened #155 "Dark mode"
Will add a dark mode toggle switch to switch between light mode and dark mode.
Pls assign it to me under LGM-SOC'21

[2021-06-30 05:27] Pratham-Mishra178 opened #156 "feature contents are not centered"
![Screenshot (530)](https://user-images.githubusercontent.com/78583437/123906535-fba03d00-d991-11eb-822d-a6cb7ab0535b.png)

Please assign me this issue I want to fix it under LGMSOC'21

[2021-06-30 08:25] soumita1234 commented on #155
@TheArushiSingh can work on this issue but after changing share the link here first.
Do changes and make comments that what you have added and don't make any inline stylings. Maintain code format.

[2021-06-30 08:28] soumita1234 commented on #156
@Pratham-Mishra178 sure.
Do changes and make comments that what you have added and don't make any inline stylings. Maintain code format.
After changing host by yourself and share the link here before creating PR.

[2021-06-30 08:29] #137 closed

[2021-06-30 09:39] TheArushiSingh commented on #155
Okay! 👍

[2021-06-30 09:42] Pratham-Mishra178 commented on #156
RESULT:

![Screenshot (531)](https://user-images.githubusercontent.com/78583437/123938655-ec7eb680-d9b4-11eb-8cdd-07f93a623a13.png)

LINK:

https://pratham-mishra178.github.io/HelpingHand/

CHANGES MADE:

![image](https://user-images.githubusercontent.com/78583437/123939200-85adcd00-d9b5-11eb-9e9d-73a5a3f98643.png)

[2021-06-30 10:51] soumita1234 commented on #156
@Pratham-Mishra178 ok.. create PR.

[2021-06-30 11:18] srisatya1197 opened #157 "Logo of helping hands"
I want to change the logo of helping hands into this.
![helping hands](https://user-images.githubusercontent.com/78905067/123951887-e7c0ff00-d9c2-11eb-831d-6c96f732648b.jpg)

[2021-06-30 12:25] ri-tae-ka opened #159 "Addition of 404 page"
I'd like to add an error page to the website.
Please assign me the work under LGM-SOC '21.

[2021-06-30 14:22] #156 closed

[2021-06-30 18:20] honeybhardwaj opened #160 "issue in faq"
hi,
Grammer issue in faq and there is some typo error. instead of "whom do i contact" it should be whom should i contact or need to contact.Also there is a typo error in answer.
![Screenshot from 2021-06-30 23-49-00](https://user-images.githubusercontent.com/51120790/124011657-e06b1700-d9fd-11eb-86ed-4d6a7fc80ab7.png)

[2021-07-01 06:49] iamAnki commented on #143
Make the website responsive .

[2021-07-01 07:01] Sejal2801 commented on #143
Assign it to me

On Thu, 1 Jul, 2021, 12:19 PM Ankita, ***@***.***> wrote:

[2021-07-01 16:58] #160 closed

[2021-07-01 22:41] Atif0604 opened #162 "Remove the horizontal scroll"
![image](https://user-images.githubusercontent.com/64218887/124197071-6022df80-daeb-11eb-9c8b-ee42b61d84f6.png)
Please assign it to me @soumita1234

[2021-07-02 06:57] soumita1234 commented on #162
@Atif0604  No need to remove it.

[2021-07-02 10:40] siddhi-244 opened #163 "Hovering and active effects to buttons"
Can I do this under lgmsoc

[2021-07-02 10:45] girija0707 opened #164 "problem in visibility of donate button when we open the site on mobile"
![helpinghands](https://user-images.githubusercontent.com/63583646/124263274-aa8a7780-db50-11eb-838d-99e0c777c247.png)

[2021-07-02 10:45] girija0707 commented on #164
please assign this to me under lgmsoc

[2021-07-02 12:24] soumita1234 commented on #163
@siddhi-244 Do not want more changes on UI.

[2021-07-02 12:26] soumita1234 commented on #164
@girija0707 this problem is causing as the website is not responsive. This issue ia assigned to someone else.

[2021-07-02 14:35] honeybhardwaj opened #165 "problem in Our Mission spacing"
Hi ,
The flipcards have problem in spacing they are being stick with each other which doesn't look good. as shown in the image below:
![Screenshot from 2021-07-02 20-03-02](https://user-images.githubusercontent.com/51120790/124290227-d0c00f80-db70-11eb-8726-87c9c62ef6cc.png)
so i ll improve it.

Thanks
Honey Bhardwaj

[2021-07-02 15:58] soumita1234 commented on #165
@honeybhardwaj  reload the website. There is no problem like this.

[2021-07-02 16:01] soumita1234 commented on #143
@Sejal2801  can work on this issue but after changing share the link here first.
Do changes and make comments that what you have added and don't make any inline stylings. Maintain code format.

[2021-07-02 16:05] Sejal2801 commented on #143
Okay

On Fri, 2 Jul, 2021, 9:31 PM Soumita Biswas, ***@***.***>
wrote:

[2021-07-02 17:55] padmajabhol opened #166 "Straightened images."
![Screenshot (254)](https://user-images.githubusercontent.com/75530516/124312197-8e0c3080-db8c-11eb-87ac-8f4ad77d17d3.png)
The images don't look right, this issue can be solved by giving it the right width.

[2021-07-02 19:50] honeybhardwaj commented on #165
i  have tried and the problem exist. i use google chrome.

[2021-07-03 06:41] ri-tae-ka opened #167 "Footer Content Alignment"
I'd like to work on the footer and align the content in centre and improve the UI.
Please assign me the work under LGM-SOC '21.

[2021-07-03 06:44] ri-tae-ka opened #168 "FAQ Spacing"
I'd like to work on this issue and reduce the spacing between the faq heading and the drop-down questions.
Please assign me this issue under LGM-SOC '21.
![issue](https://user-images.githubusercontent.com/79984800/124345719-2f7c9c00-dbf8-11eb-954e-e80b27c19794.jpg)

[2021-07-03 06:48] ri-tae-ka opened #169 "Home Page Content Alignment"
I would like to adjust the home page text alignment and shift it to the left and also shift the images a little lower when in smaller screen to display the donate button which is not visible now.
Please assign me the issue under LGM-SOC '21.

[2021-07-03 07:00] soumita1234 commented on #168
@ri-tae-ka no need to do that. I've added this to make this section full screen

[2021-07-03 07:01] soumita1234 commented on #169
@ri-tae-ka this issue is under responsiveness. Issue is already assigned

[2021-07-03 07:02] soumita1234 commented on #167
@ri-tae-ka Do not want any more changes in UI.
Thanks for raising issue.

[2021-07-03 07:03] soumita1234 commented on #166
@padmajabhol This images are alright no need to change anything.

[2021-07-03 07:24] ri-tae-ka commented on #167
Yes, i'd like to work on the footer and make the alignments proper by adjusting the spacings between all sections of the footer.
![Screenshot 2021-07-03 125228](https://user-images.githubusercontent.com/79984800/124346645-a5373680-dbfd-11eb-8027-791cdcc3a422.jpg)

[2021-07-04 04:47] soumita1234 commented on #165
![noneed](https://user-images.githubusercontent.com/58908901/124373580-03712180-dcb1-11eb-88b8-a418234061a6.JPG)

[2021-07-04 04:48] soumita1234 commented on #165
@honeybhardwaj the website is not responsive thats why it semms like this. This issue is assigned. If you want to work on this you have to make this full website responsive.

[2021-07-04 04:49] soumita1234 commented on #155
@TheArushiSingh any update ?

[2021-07-04 04:50] soumita1234 commented on #143
@Sejal2801 any update ? you need to solve the issue within two days after assigned.

[2021-07-04 05:01] Sejal2801 commented on #143
Mam i will give you tonight.

On Sun, 4 Jul, 2021, 10:20 AM Soumita Biswas, ***@***.***>
wrote:

[2021-07-04 07:41] #155 closed

[2021-07-04 09:25] supzi-del opened #170 "Add a scale hover effect on donate here button"
I want to add a transform scale for the donate button on the homepage so as to match the transition on the buttons in the navbar.

[2021-07-04 09:28] supzi-del commented on #170
I would like to work on this under LGMSOC.

[2021-07-04 11:15] soumita1234 commented on #170
@supzi-del  I don't want any more changes in UI

[2021-07-05 05:07] Sejal2801 commented on #143
Mam I have tried but from today there is my end semester exams so i am not
able to do completely can you give me time

On Sun, 4 Jul, 2021, 10:30 AM sejal panjwani, ***@***.***>
wrote:

[2021-07-05 08:14] coding-geek21 commented on #143
Shall I work on this?

[2021-07-05 08:27] soumita1234 commented on #143
Yes sure. work on this issue. Make sure to submit next day.
 after changing share the link here first.
Do changes and make comments that what you have added and don't make any inline stylings. Maintain code format.

[2021-07-06 13:17] soumita1234 opened #171 "Make this website responsive"

[2021-07-07 08:18] RiyaGupta89 commented on #171
Can I work on this issue please?

[2021-07-07 11:20] asdsyd opened #172 "Grammatical mistakes in FAQ answers."
<img width="1318" alt="Screen Shot 2021-07-07 at 4 46 40 PM" src="https://user-images.githubusercontent.com/77977076/124750408-0be08b00-df43-11eb-9289-99fe4af077d9.png">

comma shouldn't be there. authenticity of campaign ( 'a' should be omitted).

Please assign me to work on this issue.

[2021-07-07 14:07] soumita1234 commented on #171
@RiyaGupta89  sure !!
Follow the code format. Do not use inline stylings, after making changes share the link here first.
try to complete this task within two days.

[2021-07-09 08:54] soumita1234 commented on #171
@RiyaGupta89  update ?

[2021-07-09 16:02] RiyaGupta89 commented on #171
@soumita1234 I am sorry. I have my sem exams going on, I'll do it tomorrow for sure.

[2021-07-09 17:22] soumita1234 commented on #171
@RiyaGupta89  ok make sure to submit by tomorrow.

[2021-07-10 11:08] RiyaGupta89 commented on #171
@soumita1234 Hey, your project is using boostrap for styling and I am not very confident with bootstrap. I use raw css for all the styling stuff. Sorry, I should have informed earlier but I got to know about it rn. I will not be able to resolve this issue. Please unassign me.

[2021-07-10 13:07] soumita1234 opened #173 "Make this site responsive"

[2021-07-13 08:41] Sejal2801 commented on #173
Assign it to me

[2021-07-14 08:56] joshi-kaushal commented on #173
i am interested to work on this, please assign it to me if nobody is working on it...

[2021-07-14 18:55] gunjan-g commented on #173
I am interested to work on this issue

[2021-07-14 20:00] gunjan-g opened #174 "Uneven Footer Section"
**Description:**
The footer sections do not have grid layout, the sections are unevenly placed

**Image:**
![image](https://user-images.githubusercontent.com/81305824/125685100-45942afd-289c-4f8c-91a2-3b503c6fee4b.png)

[2021-07-14 20:00] gunjan-g commented on #174
@soumita1234 please assign this issue to me under the label LGM-SOC

[2021-07-17 04:51] shreyshreyansh opened #175 "Images are bit stretchy"
![before](https://user-images.githubusercontent.com/53744971/126025994-c34dc31e-2553-448a-8170-b15b0cf395e0.png)

[2021-07-17 11:26] #175 closed

[2021-07-17 21:52] ayushsoni1010 opened #177 "Add Img Bot"
**Is your feature request related to a problem? Please describe.**
Adding an image bot to the project will help us optimize images

**Describe the solution you'd like**
Project Admin can add this through this link: https://github.com/marketplace/imgbot
Else you can assign me :)

**Screenshots**
![image](https://user-images.githubusercontent.com/76895975/125985323-c07c4e91-cc94-4119-bb4b-2fd1f41840

[2021-07-18 06:43] AnirudhPanda opened #178 "Remove Horizontal Scrollbar"

[2021-07-18 08:26] soumita1234 commented on #177
@ayushsoni1010  I've added.. Thanks

[2021-07-18 08:33] #177 closed

[2021-07-19 04:41] AnirudhPanda opened #181 "[ Bug ] Horizontal Scrollbar present on the website."

[2021-07-19 17:19] Mukta-Sawant opened #183 "Website is not responsive."
Contact us section and donate section is not responsive for Laptop size (1024px).

[2021-09-17 03:29] shreyshreyansh opened #186 "All images are streatchy in your website"
## Header
![Screenshot 2021-09-17 085719](https://user-images.githubusercontent.com/53744971/133719625-6f1d45f7-3047-48ca-ae68-5074c644ecf3.jpg)

##Cards
![Screenshot 2021-09-17 085738](https://user-images.githubusercontent.com/53744971/133719654-c80a9c3e-0674-40bc-be79-5cff5c43ec0c.jpg)